<footer class="mt-auto py-3 text-center">

  <small class="text-muted mb-2">
    <i class="fas fa-pen-nib"></i> with <i class="fas fa-heart"></i>
    by <strong>{{ site.author.name }}</strong>
  </small>

  {% include social.html %}

  {%- assign theme_name = "portfolYOU" -%}
  {%- assign theme_repo = "https://github.com/YoussefRaafatNasry/portfolYOU" -%}
  <small id="attribution">
    theme <a href="{{ theme_repo }}">{{ theme_name }}</a>
  </small>



<!-- Adding a dark mode toggle  !-->
  
<script>
  function toggleDarkLight() {
  var body = document.getElementById("body");
  var currentClass = body.className;
  body.className = currentClass == "dark-mode" ? "light-mode" : "dark-mode";
}
  </script>
  
<button type="button" name="dark_light" onclick="toggleDarkLight()" title="Toggle dark/light mode">Toggle dark mode</button>



</footer>
