@charset "utf-8";

// Custom Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins|IBM+Plex+Sans|IBM+Plex+Serif|Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

// example: 
// font-family: 'Ibarra Real Nova', serif;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables",
        "404",
        "autumn",
        "base",
        "blog",
        "footer",
        "landing",
        "navbar",
        "projects",
        "skills",
        "timeline";

.button {
  background-color: #fff; /* dark */
  border: 2px solid #000;
  color: #000;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


